<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Manufacturer</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.product_id}}</td>
                <td>{{this.product_name}}</td>
                <td>{{this.category}}</td>
                <td>{{this.product_description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.manufacturer}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.user_id}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.user_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone_number}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
